/* begin Page */

/* Created by Artisteer v3.1.0.47770 */

#page-background-glare{
   display: none;
}
.cleared {
   width:1px;
}
/* Start Box */
.box, .box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Header */
.header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='header-jpeg');
   z-index: 1;
}

.header-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   width:100%;
   height: 210px;
   background-image: url('Images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin HeaderObject */
div.headerobject{
   font-size: 1px;
}
/* end HeaderObject */

/* begin Menu */
ul.hmenu, ul.hmenu ul, ul.hmenu li, ul.hmenu a {
   zoom:1;
}
.hmenu li.hmenuhover{
   z-index: 10000;
}
.hmenu .hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.hmenu .hmenuhoverUL .hmenuhoverUL{
   top: 0;
   left: 100%;
}
.hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nav
{
   zoom: 1;
   height: 46px;
   background:#232325;
}

/* end Menu */

/* begin MenuItem */
.hmenu a 
{
   display:inline-block;
   color: #E9E3DD;
   background-color:#232325;
   padding: 0 17px;
   line-height: 28px;
   text-align: center;
}

.hmenu a.active 
{
   color: #2F271E;
   background-color:#E5DED7;
}

.hmenu a:hover, .hmenuhoverA,  .hmenuhover a 
{
   color: #BFAF9B;
   background-color:#2F271E;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'8px');
}
ul.hmenu li li{
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a 
{
   color: #DDD4CA !important;
   float: left;
}

.hmenu ul a:hover, .hmenu ul .hmenuhover .hmenuhoverA 
{
   color: #000000 !important;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.sheet {
   background:#232325;
}
/* end Box, Sheet */

/* begin Layout */
.content-layout, .content-layout-row, .layout-cell 
{
   display: block;
   zoom: 1;
}
.layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Button */
.button-wrapper{
   zoom: 1;
}
.button-wrapper .button-l, .button-wrapper .button-r {
   display: none;
}
.button-wrapper .button {
   float: left;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.vmenublock {
   background:#232325;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader {
   background:#DE3B4B;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent {
   background:#232325;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu, ul.vmenu ul, ul.vmenu li, ul.vmenu a
{
   position:relative;
   zoom: 1;
}

ul.vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'4px');
}
ul.vmenu ul{
   margin-top:4px;
   padding-bottom: 0;
}

ul.vmenu a 
{
   color: #5D4E3C;
   background-color:#232325;
   padding: 0 11px 0 11px;
   height: 30px;
   line-height: 30px;
}

.vmenu a.active 
{
   color: #6D5B46;
   background-color:#EFA3AB;
}

ul.vmenu a:hover
{
   color: #4E4132;
   background-color:#E76F7B;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul a {
   color: #5D4E3C !important;
}
ul.vmenu li li {
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'0');
}
 
ul.vmenu ul ul {
   margin-top:0;
}
ul.vmenu ul a.active {
   color: #5A4B3A !important;
}
ul.vmenu ul a:hover {
   color: #514334 !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.block {
   background:#232325;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   background:#DE3B4B;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent {
   background:#232325;
}
.blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Box, Post */
.post {
   background:#232325;
}
/* end Box, Post */

/* begin PostBullets */
.post ul li, .post ol ul li
{
   height: 1%;
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin Footer */
.footer-body{
   padding-right: 0;
   zoom:1;
}
.footer{
   zoom:1;
   background:#232325;
}

.footer-text
{
   height: 5px;
}

/* end Footer */

/* begin LayoutCell, content */
.sidebar1 {
   width: auto;
}
/* end LayoutCell, content */

