/* begin Page */

/* Created by Artisteer v3.1.0.47770 */

#page-background-glare{
   display: none;
}
body {
   background-attachment: scroll;
}
#page-background-middle-texture {
   height: expression(b.clientHeight + 'px');
   width: expression(document.body.clientWidth>900?"100%":"900px");
}
.cleared {
   width:1px;
}
/* Start Box */
.box, .box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Box, Sheet */
.sheet {
   background:#FFFFFF;
}
/* end Box, Sheet */

/* begin Header */
.header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='header-png');
   z-index: 1;
}

.header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 200px;
   background-image: url('Images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin HeaderObject */
div.headerobject{
   font-size: 1px;
}
/* end HeaderObject */

/* begin Menu */
ul.hmenu, ul.hmenu ul, ul.hmenu li, ul.hmenu a {
   zoom:1;
}
.hmenu li.hmenuhover{
   z-index: 10000;
}
.hmenu .hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.hmenu .hmenuhoverUL .hmenuhoverUL{
   top: 0;
   left: 100%;
}
.hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nav
{
   zoom: 1;
   height: 24px;
   background:#21314A;
}

/* end Menu */

/* begin MenuItem */
.hmenu a 
{
   display:inline-block;
   color: #C3D0E5;
   padding: 0 22px;
   line-height: 24px;
   text-align: center;
}

.hmenu a.active 
{
   color: #101723;
   background-color:#6787BC;
}

.hmenu a:hover, .hmenuhoverA,  .hmenuhover a 
{
   color: #000000;
   background-color:#C75D00;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'1px');
}
ul.hmenu li li{
   margin-left:0;
}

span.hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 24px;
   background: url('Images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a 
{
   color: #421F00 !important;
   float: left;
}

.hmenu ul a:hover, .hmenu ul .hmenuhover .hmenuhoverA 
{
   color: #000000 !important;
   background-position: left bottom;
   border-color: #FF7700;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Layout */
.content-layout, .content-layout-row, .layout-cell 
{
   display: block;
   zoom: 1;
}
.layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.vmenublock {
   background:#F5F4F6;
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent {
   background:#F5F4F6;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu, ul.vmenu ul, ul.vmenu li, ul.vmenu a
{
   position:relative;
   zoom: 1;
}

ul.vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'1px');
}
ul.vmenu ul{
   margin-top:1px;
   padding-bottom: 0;
}

ul.vmenu a 
{
   color: #334C75;
   background-color:#F9F9FA;
   padding: 0 10px 0 25px;
   height: 32px;
   line-height: 32px;
}

.vmenu a.active 
{
   color: #1F2E47;
   background-color:#6787BC;
}

ul.vmenu a:hover
{
   color: #663000;
   background-color:#FF9233;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul a {
   color: #334C75 !important;
}
ul.vmenu li li {
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'1px');
}
 
ul.vmenu ul ul {
   margin-top:1px;
}
ul.vmenu ul a.active {
   color: #48424C !important;
}
ul.vmenu ul a:hover {
   color: #48424C !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.block {
   background:#FFFFFF;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   background:#FF7700;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent {
   background:#F5F4F6;
}
.blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Button */
.button-wrapper{
   zoom: 1;
}
.button-wrapper .button-l, .button-wrapper .button-r {
   display: none;
}
.button-wrapper .button {
   float: left;
}
/* end Button */

/* begin Box, Post */
.post {
   background:#FFFFFF;
}
/* end Box, Post */

/* begin Footer */
.footer-body{
   padding-right: 0;
   zoom:1;
}
.footer{
   zoom:1;
   background:#91A9CF;
}

.footer-text
{
   height: 30px;
}

/* end Footer */

/* begin LayoutCell, content */
.content {
   width: auto;
}
/* end LayoutCell, content */

