<table class="Grid" cellspacing="0" cellpadding="0">
  <tr class="Caption">
    <!-- BEGIN ControlTitle -->
    <th scope="col">{Sorter}</th>
    <!-- END ControlTitle --></tr>
  <!-- BEGIN Row -->
  <tr class="Row">
    <!-- BEGIN ControlContent -->
    <td>{ControlTemplate}&nbsp;</td>
    <!-- END ControlContent --></tr>
  <!-- END Row --><!-- BEGIN NoRecords -->
  <tr class="NoRecords">
    <td  colspan="{countControls}">{NoRecords}</td></tr><!-- END NoRecords -->
  <!-- BEGIN Footer -->
  <tr class="Footer">
    <td  colspan="{countControls}">{Navigator} &nbsp;</td></tr>
  <!-- END Footer -->
</table>
